*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(147, 222, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pannel{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(63, 122, 63);
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: white;
    padding: 0px 30%;
    
}

.elem{
    display: flex;
    gap: 20px;
    align-items: center;
}

.elem h2{
    font-size: 22px;
    font-weight: 500;
}

.box{
    padding: 10px 20px;
    background-color: white; 
    border-radius: 5px;
    color: rgb(2, 185, 94);
    font-weight: 500;
    font-size: 25px;
}

.pbtm{
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bubble{
    height: 40px;
    width: 40px;
    background-color: #408940;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble:hover{
    background-color: rgb(3, 67, 3);
    cursor: pointer;
}


#gameOver{
    /* background-color: red; */
    font-size: 100px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}


#restart{
     border: none;
     border-radius: 10px;
     background-color: rgb(153, 62, 251);
     padding: 10px;
     color: white;
     font-weight: 600;
     margin-top: 30px;
}

#restart:hover{
        background-color: rgb(135, 0, 207);
}


#start{
    display: flex;
    flex-direction: column; 
    z-index: 1;
}


.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(251, 242, 207);
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}


.ball{
     height: 10px;
     width: 10px;
     background-color: rgb(0, 0, 0);
     border-radius: 50px;
     margin-top: 33px;
}